body {
    background-color: #e9db89;
    font-family: 'Lucida Calligraphy';
    font-style: italic;
    width: 75%;
    margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
}

p {
    padding: 1em;
}

.noindent::first-letter {
    font-size: 4em;
    line-height: 1;
}

h2 {
    padding:3em;
    text-shadow: 0 0 10px grey;
}

h4 {
    text-shadow: 0 0 10px grey;
}

img {
    filter: sepia(30%);
    margin-bottom: -0.4em;
}

.fig {
    box-shadow: 0 0 5px 5px lightgray;
}